<!-- Login-Registration Form  -->

<div class="registration-login-form">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home" role="tab">
                <svg class="olymp-login-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-login-icon"></use></svg>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#profile" role="tab">
                <svg class="olymp-register-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-register-icon"></use></svg>
            </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="home" role="tabpanel" data-mh="log-tab">
            <div class="title h6"><%= t('index.message.register') %></div>
            <form class="content" action="/users" accept-charset="UTF-8" method="post">
                <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                <div class="row">
                    <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group label-floating is-empty">
                            <label class="control-label"><%= t('common.label.first_name') %></label>
                            <input name="user[first_name]" class="form-control" placeholder="" type="text">
                        </div>
                    </div>
                    <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group label-floating is-empty">
                            <label class="control-label"><%= t('common.label.last_name') %></label>
                            <input name="user[last_name]" class="form-control" placeholder="" type="text">
                        </div>
                    </div>
                    <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group label-floating is-empty">
                            <label class="control-label"><%= t('common.label.email') %></label>
                            <input name="user[email]" class="form-control" placeholder="" type="email">
                        </div>
                        <div class="form-group label-floating is-empty">
                            <label class="control-label"><%= t('common.label.password') %></label>
                            <input name="user[password]" class="form-control" placeholder="" type="password">
                        </div>

                        <div class="form-group date-time-picker label-floating">
                            <label class="control-label"><%= t('common.label.birthday') %></label>
                            <input name="user[birthday]" name="datetimepicker" value="10/24/1984" />
                            <span class="input-group-addon">
                                <svg class="olymp-calendar-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-calendar-icon"></use></svg>
                             </span>
                        </div>

                        <div class="form-group label-floating is-select">
                            <label class="control-label"><%= t('common.label.gender') %></label>
                            <select name="user[gender]" class="selectpicker form-control">
                                <option value="1"><%= t('common.label.male') %></option>
                                <option value="0"><%= t('common.label.female') %></option>
                            </select>
                        </div>

                        <div class="remember">
                            <div class="checkbox">
                                <label>
                                    <input name="user[terms]" name="optionsCheckboxes" type="checkbox">
                                    I accept the <a href="#"><%= t('common.label.tnc') %></a> of the website
                                </label>
                            </div>
                        </div>

                        <button type="submit" name="commit" class="btn btn-purple btn-lg full-width"><%= t('common.label.sign_up') %></button>
                    </div>
                </div>
            </form>
        </div>

        <div class="tab-pane" id="profile" role="tabpanel" data-mh="log-tab">
            <div class="title h6"><%= t('index.message.login') %></div>
            <form class="content" action="/users/sign_in" accept-charset="UTF-8" method="post">
                <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                <div class="row">
                    <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group label-floating is-empty">
                            <label class="control-label"><%= t('common.label.email') %></label>
                            <input name="user[email]" class="form-control" placeholder="" type="email">
                        </div>
                        <div class="form-group label-floating is-empty">
                            <label class="control-label"><%= t('common.label.password') %></label>
                            <input name="user[password]" class="form-control" placeholder="" type="password">
                        </div>

                        <div class="remember">
                            <div class="checkbox">
                                <label>
                                    <input name="user[remember_me]" type="hidden" value="0">
                                    <input name="user[remember_me]" type="checkbox" value="1">
                                    <%= t('common.label.remember_me') %>
                                </label>
                            </div>
                            <a href="#" class="forgot"><%= t('common.message.forgot_password') %></a>
                        </div>

                        <button type="submit" name="commit" class="btn btn-lg btn-primary full-width"><%= t('common.label.login') %></button>
                        <div class="or"></div>
                        <a href="<%= user_facebook_omniauth_authorize_path %>" class="btn btn-lg bg-facebook full-width btn-icon-left"><i class="fab fa-facebook-f" aria-hidden="true"></i><%= t('common.label.login_facebook') %></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- ... end Login-Registration Form  -->
