.ui-block
  .top-header
    .top-header-thumb
      %img{:alt => "nature", :src => "#{@user.banner}"}/
    .profile-section
      .row
        .col.col-lg-5.col-md-5.col-sm-12.col-12
          %ul.profile-menu
            %li
              %a{:href => "/profile/#{@user.username}", :class => "#{'active' if tag == 'timeline'}"} Timeline
            %li
              %a{:href => "/profile/#{@user.username}/about", :class => "#{'active' if tag == 'about'}"} About
            %li
              %a{:href => "/profile/#{@user.username}/followers", :class => "#{'active' if tag == 'followers'}"} Followers
        .col.col-lg-5.ml-auto.col-md-5.col-sm-12.col-12
          %ul.profile-menu
            %li
              %a{:href => "/profile/#{@user.username}/photos", :class => "#{'active' if tag == 'photos'}"} Photos
            %li
              %a{:href => "/profile/#{@user.username}/videos", :class => "#{'active' if tag == 'videos'}"} Videos
            - if !@own_user
              %li
                .more
                  %svg.olymp-three-dots-icon
                    %use{"xlink:href" => "/svg-icons/sprites/icons.svg#olymp-three-dots-icon"}
                  %ul.more-dropdown.more-with-triangle
                    %li
                      %a{:href => "javascript:;", "data-toggle"=>"modal", "data-target"=>"#song-dedication-modal"} Dedicate a song
                    %li
                      %a{:href => "javascript:;", "data-toggle"=>"modal", "data-target"=>"#confession-modal"} Share a confession
      .control-block-button
        - if !@own_user
          - if !@already_followed
            %a.btn.btn-control.bg-blue.follow-user{:href => "javascript:void(0)", "data-placement" => "right", "data-original-title" => "Follow #{@user.first_name}", "data-toggle" => "tooltip", "data-user-id" => @user.id, "data-user" => @user.first_name}
              %svg.olymp-plus-icon
                %use{"xlink:href" => "/svg-icons/sprites/icons.svg#olymp-plus-icon"}
          - else
            %a.btn.btn-control.bg-blue.un-follow-user{:href => "javascript:void(0)", "data-placement" => "right", "data-original-title" => "Un Follow #{@user.first_name}", "data-toggle" => "tooltip", "data-user-id" => @user.id, "data-user" => @user.first_name}
              %svg.olymp-happy-faces-icon
                %use{"xlink:href" => "/svg-icons/sprites/icons.svg#olymp-happy-faces-icon"}

    .top-header-author
      %a.author-thumb{:href => "/"}
        %img.image-profile-main{:alt => "author", :src => "#{@user.profile_picture}"}/
      .author-content
        %a.h4.author-name{:href => "02-ProfilePage.html"}
          = @user.first_name + " " + @user.last_name
        .country
          = @user.college
          = @user.location

/ Modals
/ Song dedications
#song-dedication-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5.modal-title Dedicate a song
      .modal-body
        .success
          %span.success-message.hidden
            %svg.olymp-check-icon
              %use{"xlink:href" => "/svg-icons/sprites/icons.svg#olymp-check-icon"}
            Your song has been successfully dedicated, please note that its upto their
            discretion on wheater or not to make your song appear on their profile page.
        .actions
          %p
            %input.form-control.paste-song-dedication-link{:placeholder => "Share a youtube link of the song you wish to dedicate."}
            %input.parsed-link-storage{:type => "hidden"}
          .preview
          %p
            %textarea.form-control.paste-song-message{:placeholder => "Add a personal message."}
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
        %button.btn.btn-blue.dedicate{:type => "button"} Dedicate

/ Confession
#confession-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5.modal-title Share a confession
      .modal-body
        .success
          %span.success-message.hidden
            %svg.olymp-check-icon
              %use{"xlink:href" => "/svg-icons/sprites/icons.svg#olymp-check-icon"}
            Your confession has been successfully sent, please note that its upto their
            discretion on wheater or not to make your confession appear on their profile page.
        .actions
          %p
            %textarea.form-control.message{:placeholder => "Write a confession ..."}
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
        %button.btn.btn-blue.confess{:type => "button"} Confess


/ Template
%script#song-dedication-template{:type => "text/x-handlebars-template"}
  .post-video
    .video-thumb
      %img{:alt => "photo", :src => "{{image}}"}/
      %a.play-video{:href => "{{url}}", :target => "_blank"}
        %svg.olymp-play-icon
          %use{"xlink:href" => "/svg-icons/sprites/icons.svg#olymp-play-icon"}
    .video-content
      %a.h4.title{:href => "{{url}}", :target => "_blank"} {{title}}
      %p
        {{description}}
      %a.link-site{:href => "{{url}}", :target => "_blank"} YOUTUBE.COM
