- content_for :pagejs do
  = javascript_pack_tag 'search'

%body
  %header#site-header.header
    .page-title
      %h6= t('session_nav.label.news_feed')
    .header-content-wrapper
      #search-bar
      / <a href="#" class="link-find-friend">Find Friends</a>
      .control-block
        .control-icon.more.has-items
          %svg.olymp-thunder-icon
            %use{"xlink:href" => "/svg-icons/sprites/icons.svg#olymp-thunder-icon"}
          -# .label-avatar.bg-primary
          .more-dropdown.more-with-triangle.triangle-top-center
            .ui-block-title.ui-block-title-small
              %h6.title
                = t('common.label.notifications')
              -# %a{:href => "#"}
              -#   = t('common.label.mark_all_read')
              -# %a{:href => "#"}
              -#   = t('common.label.settings')
            .mCustomScrollbar{"data-mcs-theme" => "dark"}
              %ul.notification-list.top-notification-list
            %a.view-all.bg-blue{:href => "/notifications"}
              = t('common.label.view_all_notifications')

        .author-page.author.vcard.inline-items.more
          .author-thumb
            %img.avatar{:alt => "author", :src => "#{current_user.profile_picture.thumb.url}"}/
            %span.icon-status.icon-chat-state{:class => "#{current_user.chat_state}"}
            .more-dropdown.more-with-triangle
              .mCustomScrollbar{"data-mcs-theme" => "dark"}
                .ui-block-title.ui-block-title-small
                  %h6.title Your Account
                %ul.account-settings
                  %li
                    %a{:href => "/account/settings/profile"}
                      %svg.olymp-menu-icon
                        %use{"xlink:href" => "/svg-icons/sprites/icons.svg#olymp-menu-icon"}
                      %span= t('common.label.profile_settings')
                  /
                    <li>
                    <a href="36-FavPage-SettingsAndCreatePopup.html">
                    <svg class="olymp-star-icon left-menu-icon"  data-toggle="tooltip" data-placement="right"   data-original-title="FAV PAGE"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-star-icon"></use></svg>

                    <span>Create Fav Page</span>
                    </a>
                    </li>
                  %li
                    %a{:href => "/users/sign_out"}
                      %svg.olymp-logout-icon
                        %use{"xlink:href" => "/svg-icons/sprites/icons.svg#olymp-logout-icon"}
                      %span= t('common.label.log_out')
                .ui-block-title.ui-block-title-small
                  %h6.title= t('common.label.chat_settings')
                %ul.chat-settings
                  %li
                    %a.set-chat-state{:href => "#", "data-state" => "online"}
                      %span.icon-status.online
                      %span Online
                  %li
                    %a.set-chat-state{:href => "#", "data-state" => "away"}
                      %span.icon-status.away
                      %span Away
                  %li
                    %a.set-chat-state{:href => "#", "data-state" => "disconected"}
                      %span.icon-status.disconected
                      %span Disconnected
                  %li
                    %a.set-chat-state{:href => "#", "data-state" => "status-invisible"}
                      %span.icon-status.status-invisible
                      %span Invisible
                .ui-block-title.ui-block-title-small
                  %h6.title= t('common.label.custom_status')
                %form.form-group.with-button.custom-status
                  %input.form-control.status-input{:placeholder => "Space Ranger", :type => "text", :value => "#{current_user.status}"}/
                  %button.bg-purple.add-status
                    %svg.olymp-check-icon
                      %use{"xlink:href" => "/svg-icons/sprites/icons.svg#olymp-check-icon"}
                .ui-block-title.ui-block-title-small
                  %h6.title= t('common.label.others')
                %ul
                  %li
                    %a{:href => "#"}
                      %span= t('common.label.tnc')
                  %li
                    %a{:href => "#"}
                      %span= t('common.label.about')
          %a.author-name.fn{:href => "02-ProfilePage.html"}
            .author-title
              = current_user.first_name
              = current_user.last_name
              %svg.olymp-dropdown-arrow-icon
                %use{"xlink:href" => "/svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"}
            %span.author-subtitle.ui-user-status
              = current_user.status

%script#notification-template{:type => "text/x-handlebars-template"}
  %li
    .author-thumb
      %img{:alt => "author", :src => "{{activity_owner_picture}}"}/
    .notification-event
      %div
        %a.h6.notification-friend{:href => "/profile/{{activity_owner_username}}"} {{activity_owner_name}}
        {{message}} your
        %a.notification-link{:href => "/posts/{{object_id}}"} post
      %span.notification-date
        %time.entry-date.updated {{timestamp}}
    %span.notification-icon
      %svg.olymp-comments-post-icon
        %use{"xlink:href" => "svg-icons/sprites/icons.svg#olymp-comments-post-icon"}
    -# .more
    -#   %svg.olymp-three-dots-icon
    -#     %use{"xlink:href" => "svg-icons/sprites/icons.svg#olymp-three-dots-icon"}
    -#   %svg.olymp-little-delete
    -#     %use{"xlink:href" => "svg-icons/sprites/icons.svg#olymp-little-delete"}

:javascript
  window.current_user = {
    'id': '#{current_user.id}',
  	'first_name': '#{current_user.first_name}',
  	'last_name': '#{current_user.last_name}',
  	'username': '#{current_user.username}',
  	'gender': '#{current_user.gender}',
  	'profile_picture': '#{current_user.profile_picture.thumb.url}'
  }
