<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CollegeTrends - Social Networking</title>
    <%= csrf_meta_tags %>

    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <%= stylesheet_link_tag 'application'%>
    <%= javascript_include_tag 'application'%>
    <%= javascript_pack_tag 'application' %>
    <%= yield :pagecss %>
  </head>

  <body class="landing-page">
    <%= yield %>
  </body>
</html>
