<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CollegeTrends - Social Networking</title>
    <%= Gon::Base.render_data %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <%= stylesheet_link_tag 'application'%>
    <%= javascript_include_tag 'application'%>
    <%= yield :pagecss %>
    <%= yield :pagejs %>
  </head>

  <body class="landing-page">
    <div class="blog-black-drop"></div>
    <%= yield %>
  </body>
</html>
